<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable" packages="com.indexlabs.commons.logging.plugins">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%p] [%t] %c – %m - %X%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>